*{
  margin: 0;
  padding: 0;
}


.main{
  display: flex;
  justify-content: center;
  margin: 5rem;
}


.mainCont input{
  width: 10rem;
  height: 10rem;
  font-size: 10rem;  
  text-align: center;
}

.Players{
  background-color: beige;
  margin: 1rem;
  padding: 5rem;
}